body {
    background: #ccc;
}

body,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
}

.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    background: #fff;
}

.hidden-menu-ticker,
.btn-submenu-tourn,
.btn-submenu-info,
.slider__input {
    display: none;
}


.header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    /*margin: 0 auto;*/
    height: 100px;
    background: #4B57C4;
}

.logo {
    width: 140px;
    height: 100px;
    outline: 1px solid black;
}

.header__upper {
    width: calc(100% - 140px);
    height: 50px;
    outline: 1px solid black;
}

.nav {
    width: calc(100% - 140px);
    height: 50px;
    outline: 1px solid black;
}

.nav__hidden {
    display: none;
}

.nav__item {
    display: table-cell;
    position: relative;
    font-size: 18px;
    font-family: sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.nav__sublist {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    transition: 0.5s;
    background: #4B57C4;
    z-index: 2;
}

.nav__link {
    display: block;
    height: 50px;
    padding: 0 20px;
    line-height: 50px;
}

.nav__subitem {
    /*display: block;*/
    font-size: 16px;
    text-transform: none;
}

.nav__sublink {
    display: block;
    padding: 10px 20px;
}

.main {
    width: calc(100% - 16px);
    margin: 8px auto;
}

.slider {
    width: 100%;
    height: 60vw;
    max-height: 660px;
    position: relative;
    margin: 0 auto 8px;
}

.slider>.slide {
    width: 100%;
    height: 60vw;
    max-height: 660px;
    outline: 1px solid black;
    display: none;
}

.slider>.slide:nth-of-type(2) {
    background-color: #B22222;
}

.slider>.slide:nth-of-type(3) {
    background-color: #006400;
}

.slider>.slide:nth-of-type(4) {
    background-color: #0000CD;
}

#slide1:checked~.slide:nth-of-type(2),
#slide2:checked~.slide:nth-of-type(3),
#slide3:checked~.slide:nth-of-type(4) {
    display: block;
}


.slider__nav {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%);
}

#slide1:checked~.slider__nav [for="slide1"] .slider__pin,
#slide2:checked~.slider__nav [for="slide2"] .slider__pin,
#slide3:checked~.slider__nav [for="slide3"] .slider__pin {
    background-color: white;
}

.slider__nav-item {
    display: inline-block;
    margin-right: 10px;
}

.slider__nav-item:first-child {
    display: inline-block;
    margin-left: 10px;
}

.slider__pin {
    width: 8px;
    height: 8px;
    border: 1px solid white;
    border-radius: 50%;
    transition: 0.2s;
}

.slider__pin:hover {
    background-color: white;
    cursor: pointer;
}

.arrows {
    color: #CCC;
    font-size: 30px;
    display: none;
}

.arrows>label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.arrows>label:first-child {
    left: 20px;
}

.arrows>label:nth-child(2) {
    right: 20px;
}

#slide1:checked~.slide1,
#slide2:checked~.slide2,
#slide3:checked~.slide3 {
    display: block;
}

.arrows label:hover {
    cursor: pointer;
    color: white;
}

.news {
    height: 800px;
    background: #98FB98;
    outline: 1px solid black;
}

.footer {
    width: 100%;
    height: 150px;
    background: #5F9EA0;
}

@media screen and (min-width: 641px) {
    .nav__item:hover {
        background: #2A37A6;
    }

    .nav__item:hover .nav__sublist {
        visibility: visible;
        opacity: 1;
    }

    .nav__subitem:hover {
        background: #2A37A6;
    }

}

@media screen and (min-width: 641px) and (max-width: 768px) {
    .nav__item {
        font-size: 16px;
    }
    .nav__sublist {
        width: 150px;
    }
    .nav__link {
        padding: 0 10px;
    }
    .nav__subitem {
        font-size: 14px;
    }
    .nav__sublink {
        display: block;
        padding: 8px 15px;
    }
}

@media screen and (min-width: 0px) and (max-width: 640px) {
    .page {
        margin: 0;
        width: 100%;
    }
    .header {
        position: fixed;
        top: 0;
        height: 50px;
        z-index: 100;
    }
    .logo {
        width: 70px;
        height: 50px;
    }
    .header__upper {
        position: absolute;
        top: 50px;
        width: 100%;
        height: 30px;
        background: #E9967A;
    }
    .nav {
        width: calc(100% - 70px);
    }
    .main {
        margin-top: 88px;
    }

    .nav__hidden {
        display: block;
    }

    .nav__list {
        display: block;
        position: fixed;
        box-sizing: border-box;
        width: 100%;
        background-color: #4B57C4;
        height: 100%;
        top: 50px;
        right: -100%;
        transition: right .2s;
    }

    .btn-menu {
        color: #fff;
        padding: 5px;
        position: fixed;
        top: 5px;
        right: 5px;
        cursor: pointer;
        transition: right .23s;
        width: 30px;
        height: 30px;
    }

    .btn-menu span {
        display: block;
        height: 4px;
        background-color: #fff;
        margin: 5px 0 0;
        transition: all .1s linear .23s;
        position: relative;
    }

    .btn-menu span.first {
        margin-top: 4px;
    }

    .hidden-menu-ticker:checked~.header .nav__list {
        right: 0;
    }

    .hidden-menu-ticker:checked~.header .first {
        transform: rotate(45deg);
        top: 9px;
    }

    .hidden-menu-ticker:checked~.header .second {
        opacity: 0;
    }

    .hidden-menu-ticker:checked~.header .third {
        transform: rotate(-45deg);
        top: -9px;
    }

    .hidden-menu-ticker:checked~.main {
        display: none;
    }

    .nav__item {
        display: block;
        position: relative;
        text-align: center;
    }

    .nav__sublist {
        display: none;
        visibility: visible;
        opacity: 1;
        position: relative;
        width: 100%;
        transition: 0.5s;
    }

    .btn-submenu-tourn:checked~.nav__item:nth-of-type(2) .nav__sublist {
        display: block;
    }

    .btn-submenu-info:checked~.nav__item:nth-of-type(3) .nav__sublist {
        display: block;
    }

    .slider__nav-item {
        margin-right: 6px;
    }
}