body {
    font-family: Roboto, sans-serif;
    background: #12175C;
}

body,
ul,
h1 {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
}

.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    background: #F1F1F1;
    /*min-width: 360px;*/
}

.hidden-menu-ticker,
.btn-submenu-tourn,
.btn-submenu-info,
.slider__input {
    display: none;
}


.header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    background: #2A37A6/*#4B57C4*/
    ;
}

.logo {
    width: 140px;
    height: 100px;
    overflow: hidden;
}

.logo-img {
    height: 100%;
    border: 1px solid #4B57C4;
    box-sizing: border-box;
}

.header__upper {
    width: calc(100% - 141px);
    height: 49px;
    border-left: 1px solid #4B57C4;
    border-bottom: 1px solid #4B57C4;
}

.main-title {
    font-size: 26px;
    line-height: 50px;
    color: #FFDD00;
    text-indent: 20px;
}

.nav {
    width: calc(100% - 140px);
    height: 50px;
}

.nav__hidden {
    display: none;
}

.nav__item {
    display: table-cell;
    position: relative;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border-left: 1px solid #4B57C4;
}

.nav__sublist {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    transition: 0.5s;
    background: #2A37A6;
    z-index: 2;
}

.nav__link {
    display: block;
    height: 50px;
    padding: 0 20px;
    line-height: 50px;
}

.nav__subitem {
    font-size: 16px;
    text-transform: none;
    border-bottom: 1px solid #4B57C4;
}

.nav__sublink {
    display: block;
    padding: 10px 20px;
}

.main {
    width: 90%;
    margin: 16px auto;
    min-height: 1100px;
}

.slider {
    width: 100%;
    height: 60vw;
    max-height: 660px;
    position: relative;
    margin: 0 auto 8px;
}

.slider>.slide {
    width: 100%;
    height: 60vw;
    max-height: 660px;
    outline: 1px solid black;
    overflow: hidden;
    display: none;
}

.slider__img {
    height: 100%;
}

.slider__title {
    position: absolute;
    bottom: 15%;
    left: 5%;
    font-size: 20px;
}

#slide1:checked~.slide:nth-of-type(2),
#slide2:checked~.slide:nth-of-type(3),
#slide3:checked~.slide:nth-of-type(4) {
    display: block;
}


.slider__nav {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%);
    z-index: 50;
}

#slide1:checked~.slider__nav [for="slide1"] .slider__pin,
#slide2:checked~.slider__nav [for="slide2"] .slider__pin,
#slide3:checked~.slider__nav [for="slide3"] .slider__pin {
    background-color: white;
}

.slider__nav-item {
    display: inline-block;
    margin-right: 10px;
}

.slider__nav-item:first-child {
    display: inline-block;
    margin-left: 10px;
}

.slider__pin {
    width: 8px;
    height: 8px;
    border: 1px solid white;
    border-radius: 50%;
    transition: 0.2s;
}

.slider__pin:hover {
    background-color: white;
    cursor: pointer;
}

.arrows {
    color: #CCC;
    font-size: 30px;
    display: none;
}

.arrows>label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.arrows>label:first-child {
    left: 20px;
}

.arrows>label:nth-child(2) {
    right: 20px;
}

#slide1:checked~.slide1,
#slide2:checked~.slide2,
#slide3:checked~.slide3 {
    display: block;
}

.arrows label:hover {
    cursor: pointer;
    color: white;
}

.news-head {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    font: bold 20px Roboto, sans-serif;
    color: #2A37A6;
}

.news-head__link {
    font-size: 18px;
    color: #2A37A6;
}

.news {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 440px;
}

.news-block {
    display: flex;
    flex-direction: column;
    width: 32%;
}

.news-block:hover {
    box-shadow: 0 1px 5px 0 rgba(152, 152, 152, .5);
}

.news-block:hover .news-block__title {
    color: #2A37A6;
}

.news-block:nth-child(n+4) {
    display: none;
}

.news-block__picture {
    height: 195px;
    overflow: hidden;
}

.news-block__img {
    min-width: 100%;
    height: 100%;
}

.news-block__date {
    color: #7F7F7F;
    font-size: 14px;
}

.news-block__title {
    display: block;
    margin: 20px 0;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    white-space: normal;
    transition: all 0.3s;
}

.news-block__text {
    height: 240px;
    overflow: hidden;
    background: white;
    border: 20px solid white;
}

.footer {
    width: 100%;
    height: 150px;
    background: #242424;
}

/* Регистрация */

.registration-title {
    text-align: center;
    margin: 24px auto;
    color: #545568;
}

.reg-form {
    font-size: 1.2em;
    font-family: Tahoma, Geneva, sans-serif;
    border: 2px solid #4B57C4;
    border-radius: 20px;
    width: 80%;
    max-width: 640px;
    background: #A0A3C7;
    margin: 0 auto;
}

.question {
    display: inline-block;
    width: 35%;
    vertical-align: top;
    color: #4B57C4;
    text-align: right;
    margin-right: 10px;
}

.answer {
    width: 50%;
    font: normal 1.2em sans-serif;
    border-radius: 1px solid;
    border-radius: 20px;
    text-indent: 15px;
}

.gender {
    font-size: 18px;
}

.star {
    color: #850000;
}

.submit {
    margin-left: calc(50% - 48px);
    padding: 5px 15px;
    background: #CCC;
    border: 0 none;
    cursor: pointer;
    border-radius: 5px;
}

.submit:hover {
    background: #FFDD00;
}

@media screen and (min-width: 641px) {
    .nav__item:hover {
        background: #4B57C4;
    }

    .nav__item:hover .nav__sublist {
        visibility: visible;
        opacity: 1;
    }

    .nav__subitem:hover {
        background: #4B57C4;
    }

}

@media screen and (min-width: 641px) and (max-width: 1024px) {

    .main {
        position: relative;
        padding-bottom: 18px;
    }

    .news-head__link_bottom {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .news {
        flex-direction: column;
        height: 100%;
    }

    .news-block {
        flex-direction: row;
        width: 100%;
        margin-bottom: 20px;
    }

    .news-block:nth-child(n+4) {
        display: flex;
    }

    .news-block__picture {
        width: 300px;
        height: 195px;
    }

    .news-block__text {
        width: calc(100% - 300px);
        height: 155px;
    }

}

@media screen and (min-width: 641px) and (max-width: 768px) {
    .nav__item {
        font-size: 16px;
    }
    .nav__sublist {
        width: 150px;
    }
    .nav__link {
        padding: 0 10px;
    }
    .nav__subitem {
        font-size: 14px;
    }
    .nav__sublink {
        display: block;
        padding: 8px 15px;
    }
}

@media screen and (min-width: 0px) and (max-width: 640px) {
    .page {
        margin: 0;
        width: 100%;
    }
    .header {
        position: fixed;
        top: 0;
        height: 50px;
        z-index: 100;
    }
    .logo {
        width: 70px;
        height: 50px;
        border-bottom: 1px solid #4B57C4;
    }
    .header__upper {
        position: absolute;
        top: 50px;
        width: 100%;
        height: 30px;
        border: none;
    }
    .main-title {
        position: absolute;
        top: -40px;
        left: 100px;
        font-size: 18px;
        line-height: 30px;
        color: #FFDD00;
        text-align: center;
    }
    .nav {
        width: calc(100% - 70px);
        border-bottom: 1px solid #4B57C4;
    }

    .nav__hidden {
        display: block;
    }

    .nav__list {
        display: block;
        position: fixed;
        box-sizing: border-box;
        width: 100%;
        background-color: #2A37A6;
        height: 100%;
        top: 50px;
        right: -100%;
        transition: right .2s;
    }

    .btn-menu {
        color: #fff;
        padding: 5px;
        position: fixed;
        top: 5px;
        right: 5px;
        cursor: pointer;
        transition: right .23s;
        width: 30px;
        height: 30px;
    }

    .btn-menu span {
        display: block;
        height: 4px;
        background-color: #fff;
        margin: 5px 0 0;
        transition: all .1s linear .23s;
        position: relative;
    }

    .btn-menu span.first {
        margin-top: 4px;
    }

    .hidden-menu-ticker:checked~.header .nav__list {
        right: 0;
    }

    .hidden-menu-ticker:checked~.header .first {
        transform: rotate(45deg);
        top: 9px;
    }

    .hidden-menu-ticker:checked~.header .second {
        opacity: 0;
    }

    .hidden-menu-ticker:checked~.header .third {
        transform: rotate(-45deg);
        top: -9px;
    }

    .hidden-menu-ticker:checked~.main {
        display: none;
    }

    .nav__item {
        display: block;
        position: relative;
        text-align: center;
        border-bottom: 1px solid #4B57C4;
    }

    .nav__sublist {
        display: none;
        visibility: visible;
        opacity: 1;
        position: relative;
        width: 100%;
        transition: 0.5s;
    }

    .nav__subitem {
        text-align: left;
    }

    .nav__subitem:first-of-type {
        border-top: 1px solid #4B57C4;
        ;
    }

    .btn-submenu-tourn:checked~.nav__item:nth-of-type(2) .nav__sublist {
        display: block;
    }

    .btn-submenu-info:checked~.nav__item:nth-of-type(3) .nav__sublist {
        display: block;
    }

    .slider__nav-item {
        margin-right: 6px;
    }

    .slider__title {
        bottom: 17%;
        width: 185px;
        font-size: 12px;
        margin-left: 20px;

    }
    .slider__link {
        white-space: normal;
    }

    .main {
        position: relative;
        padding-bottom: 18px;
        margin-top: 66px;
        width: 90%
    }

    .news-head__link_bottom {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .news {
        flex-direction: column;
        height: 100%;
    }

    .news-block {
        width: 100%;
        margin-bottom: 20px;
    }

    .news-block:nth-child(n+4) {
        display: block;
    }

    .news-block__picture {
        height: 50vw;
    }

    .reg-form {
        font-size: 1em;
        width: 90%;
    }

    .question {
        width: 90%;
        font-weight: bold;
        text-align: left;
        margin-left: 10px;
    }

    .answer {
        width: 80%;
        font: normal 1em sans-serif;
        border-radius: 20px;
        text-indent: 15px;
        margin-top: 10px;
        margin-left: 10px;
        height: 30px;
    }

}